@import "../base/Settings.scss";


#TypeChampionsGame {
    @include flex(column, flex-start, center);
    #type-all-champions-container {
      width: clamp(400px, 80vw, 600px);
      height: clamp(350px, 50vh, 400px);
  
      border-radius: 1rem;
      padding: 1rem;
      margin-top: 1rem;
      border: 2px solid hsl(237, 86%, 74%);
      @include flex(column, space-around, center);
      & > * {
        text-align: center;
      }
      #time-left {
        width: 150px;
        margin: 0;
        border-radius: 5px;
        background-color: #535bf2;
        padding: 0.1rem 0.5rem;
        @include flex(row, space-between, center);
      }
      #names-box {
        #current-player {
          margin: 0.5rem auto;
          font-size: 4rem;
        }
        #input-player {
          background-color: transparent;
          border-radius: 1rem;
          border: 2px solid #535bf2;
          color: $white;
          margin: 0.5rem auto;
          font-size: 4rem;
          width: 90%;
          text-align: center;
          &:focus-visible {
            outline: 3px solid #535bf2;
          }
        }
      }
      #typed-players {
        margin: 0;
      }
    }
  }
  