@import "./base/normalize";
@import "./base/Settings";
@import "./components/GuessYourChampion.scss";
@import "./components/ChampionsMemory";
@import "./components/TypedChampions";
@import "./components/Homepage";
@import "./components/Header";
@import "./components/Modal";
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #fefefe;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
  margin: 0;
  font-family: Printvetica;
  @include flex(column, flex-start, center);
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  height: fit-content;
  height: 100%;
  background-color: #04081f;
}
.App {
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  height: max-content;
}


#TypeChampionsGame {
  @include flex(column, flex-start, center);
  #type-all-champions-container {
    width: clamp(400px, 80vw, 600px);
    height: clamp(350px, 50vh, 400px);

    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    border: 2px solid hsl(237, 86%, 74%);
    @include flex(column, space-around, center);
    & > * {
      text-align: center;
    }
    #time-left {
      width: 150px;
      margin: 0;
      border-radius: 5px;
      background-color: #535bf2;
      padding: 0.1rem 0.5rem;
      @include flex(row, space-between, center);
    }
    #names-box {
      #current-player {
        margin: 0.5rem auto;
        font-size: 4rem;
      }
      #input-player {
        background-color: transparent;
        border-radius: 1rem;
        border: 2px solid #535bf2;
        color: $white;
        margin: 0.5rem auto;
        font-size: 4rem;
        width: 90%;
        text-align: center;
        &:focus-visible {
          outline: 3px solid #535bf2;
        }
      }
    }
    #typed-players {
      margin: 0;
    }
  }
}
